
@import url('https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
    
}

html{
    font-size: 12px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    background: #000000;
    color: #fff;
    min-height: 100vh;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
#header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
   
}
 nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
 }
 .logo{
    width: 140px;
 }
 nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
 }
 nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size :18px;
    position: relative;
 }
 nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff4545;
    position: absolute;
    left: 0;
    bottom:  -6px;
    transition: 0.5s;
 }
 nav ul li a:hover::after{
    width: 100%;
 }
 .header-text{
    margin-top: 20%;
    font-size: 30px;
 }
 .header-text h1{
    font-size: 80px;
    margin-top: 20px;

 }
 .header-text h1 span{
    color: #ff4545;
 }

 /*--Transition--*/
.wrapper{
    display: inline-flex;
}
.wrapper .static-txt {
    color: #fff;
    font-size: 40px;
    font-weight: 400;
}
.wrapper .dynamic-txts {
    margin-left: 15px;
    height: 50px;
    line-height: 50px;
   overflow: hidden;
}
.dynamic-txts li {
    color: #ff4545;
    list-style: none;
    font-size: 40px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 6s steps(4) infinite;
}    
@keyframes slide {
    100%{
        top: -360px;
    }
}
.dynamic-txts li span{
    position: relative;
}
.dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000000;
    border-left: 2px solid #000000;
    animation: typing 1.5s steps(10) infinite;

}

@keyframes typing {
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}
.dynamic-txts li span {
    position: relative;
}


/*--about--*/
 #about{
    padding: 80px 0;
    color: #ababab;
    margin-top: -90px;
 }
 .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }
 .about-col-1{
    flex-basis: 35%;

 }
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.about-col-2 p{
    font-size: 20px;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    
}
.tab-titles{
    display: flex;
    margin: 20px0 40 px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff4545;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style:none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #ff4545;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/*--education--*/
.education {
    display: flex;
    justify-content: center;
   
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}
.education .sub-title{
    display: flex;
    text-align: center;
    font-size: 5.5rem;
}
.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.education-row .education-column {
    flex: 1 1 40rem;
}

.education-column .title {
    color: #ff4545;
    font-size: 3.5rem;
    margin: 0 0 1.5rem 2rem;
}
.education-column .education-box {
    border-left: .2rem solid #ff4545;
}
.education-box .education-content {
    position: relative;
    padding-left: 2rem;
    font-size: large;
}
.education-box .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: #ff4545;
    border-radius: 50%;
}
.education-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid #ff4545;
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}
.education-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #626262;
    z-index: -1;
    transition: .5s;
}
.education-content .content:hover:before {
    width: 100%;
}
.education-content .content .year {
    font-size: 1.5rem;
    color: #fff;
    padding-bottom: .5rem;
}
.education-content .content .year i {
    padding-right: .5rem;
}
.education-content .content .year h3 {
    font-size: 2rem;
}
.education-content .content .year p{
    font-size: 1.5rem;
}

/*--skills--*/
.skills {
    min-height: auto;
    padding-bottom: 7rem;
    background: #000000;
}
.skills .heading {
    font-size: 5.5rem;
}
.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    font-size: 2.5rem;
    color: #ff4545;
}
.skills-row .skills-column{
    flex: 1 1 40rem;
}
.skills-column.title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}
.skills-box .skills-content {
    position: relative;
    border: .2rem solid #ffffff;
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}
.skills-box .skills-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #626262;
    z-index: -1;
    transition: .5s;
}
.skills-box .skills-content:hover:before {
    width: 100%;
}
.skills-content .progress {
    padding: 1rem 0;
}
.skills-content .progress h3{
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}
.skills-content .progress h3 span {
    color: #ff4545;
}
.skills-content .progress .bar {
    height: 2.5rem;
    border-radius: .6rem;
    border: .1rem solid #ff4545;
    padding: .5rem;
    margin: 1rem 0;
}
.skills-content .progress .bar span{
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: #ff4545;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
    width:90%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
    width:70%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
    width:50%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
    width:80%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
    width:70%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
    width:50%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
    width:60%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
    width:70%;
}

/*--portfolio--*/

#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff4545);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff4545;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    text-align: center;

}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer {
    height: 100%;
}







/*--contact--*/

.contact-left {
    flex-basis: 35%;
}
.contact-right {
    flex-basis: 60%;
}
.contact-left p {
    margin-top: 30px;
    font-size: large;
    display: flex;
}
.contact-left p i {
    color: #ff4545;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons {
    margin-top: 30px;
}
.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover {
    color: #ff4545;
    transform: translateY(-5px);
}
.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff4545;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff4545;
}
.btn.btn2 {
    display: inline-block;
    background: #ff4545;
}
.contact-right form {
    width: 100%;
}
form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;

}
form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight:300;
    margin-top: 20px;
}
.copyright i {
    color: #ff4545;
}


nav .fas {
    display:none;
}

/*--------------------CSS for small screen-----------------*/
@media only screen and (max-width: 600px) {
    #header{
        background-image: url(images/black.portrait.jpg);
    }
    .header-text {
        margin-top: 100%;
        font-size: 16px;
        
    }
    .header-text h1 {
        font-size: 40px;
    }
    nav .fas {
        display: block;
       font-size: 25px; 
    }
    nav ul {
        background: #ff4545;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li {
        display: block;
        margin: 25px;
    }
    nav ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;

    }
     
    .education .sub-title{
        font-size: 40px;
        display: flex;
    }
    .education .content p{
        font-size: medium;
    }
    .sub-title {
        font-size: 40px;
        
    }
    .skills, .title{
        text-align: center;
    }
    .skills  .heading{
        display: flex;
        font-size: 40px;
    }
   
    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }
    .about-col-1 {
        margin-bottom: 30px;
    }
    .about-col-2 {
        font-size: 14px;
    }
    
  
    .contact-left, .contact-right {
        flex-basis: 100%;
        text-align: center;
    }

    .copyright {
        font-size: 14px;
    }

#msg {
        color: #61b752;
        margin-top: -40px;
        display: block;
    }
        
} 
        
    

